<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.12.0.817" newVersion="2.12.0.817" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Mono.Cecil" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.6.0" newVersion="0.9.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Shell" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.RdFramework" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Util" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Annotations" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.4.0.0" newVersion="10.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Ide" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.UI" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.ProjectModel" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.BuildInterfaces" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.MsBuild.TaskCommon" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Feature.Services" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Metadata" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.ComponentModel" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.TextControl" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Resources" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.DocumentModel" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Interop.WinApi" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.CSharp" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Feature.Services.CSharp" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.VB" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Feature.Services.VB" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.Web" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.DocumentManager" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.dotMemoryUnit.Interop.Ide" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.dotMemoryUnit.Interop" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Intentions" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Daemon" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Features.Navigation" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Tests.Framework.Projects" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Tests.Framework.Shell" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.BuildScripts" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.NewRefactorings" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Features.Intellisense" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Daemon.Web" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.Protobuf" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Daemon.Specific" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Daemon.Engine" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.Xaml" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Intentions.BuildScripts" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Daemon.BuildScripts" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Features.StructuralSearch" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Feature.Services.Web" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.SolutionAnalysis" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.Resx" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.RegExp" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Psi.IL" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Feature.Services.ExternalSources" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.Features.Diagramming" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Symbols" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.ExternalSources" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.ReSharper.I18n.Services" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JetBrains.Platform.Tests.Framework.UI" publicKeyToken="1010a0d8d6380325" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-108.0.0.0" newVersion="108.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>